<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ site.title }}{% if page.title %}: {{ page.title | strip | strip_html }}{% endif %} | {{ site.author }}</title>
  <meta name="description" content="{{ site.description }}">
  <link rel="canonical" href="{{ site.production_url }}{{ page.url | replace:'index.html',''}}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="/feed.xml">

  <link rel="stylesheet" href="/assets/{% if page.url == '/' %}main.css{% else %}post.css{% endif %}">
  <link rel="stylesheet" href="/assets/tachyons.min.css"/>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:600,700|Open+Sans+Condensed:300,700|Source+Sans+Pro:300,400,400i,600" rel="stylesheet">
  <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">

  <!-- Open Graph -->
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"/>
  <meta property="og:type" content="article"/>
  <meta property="og:url" content="{{ site.production_url }}{{ page.url | replace:'index.html',''}}"/>
  <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
  <meta property="og:image" content="{{ site.production_url }}/assets/{% if page.og-image %}{{ page.og-image }}{% else %}flag-joe-raedle.jpg{% endif %}" />

  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@{{ site.twitter_username }}">

  {% if page.author %}<meta property="article:author" content="{{ page.author }}"/>{% endif %}

  {% if page.url == '/' %}
  {% else %}
    <!-- Scripts -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
    <script src="/jquery.sticky.js"></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-NT3us7uJrevRXy3HWOrv6mQmahMglLk">
    </script>
    <script src="/assets/scripts.js"></script>
  {% endif %}
</head>
