<div class="relevant-time-banner">
  <style>
    .relevant-time-banner {
      background: #fff3cd;
      border-bottom: 1px solid #ffe69c;
      color: #332701;
      font: 400 16px/1.5 'Source Sans Pro', sans-serif;
      padding: 0.5rem 1rem;
    }

    .relevant-time-banner a {
      color: #664d03;
      text-decoration: underline;
    }

    .icon {
      width: 1em;
      height: 1em;
      vertical-align: -0.125em;
    }
  </style>

  <img class="icon" aria-hidden="true" src="{{ "/assets/clock-icon.svg" | relative_url }}">
  &nbsp;<strong>This report covers the first Trump administration in 2017.</strong>
  For current analysis, <a href="https://envirodatagov.org/blog/">visit EDGI’s blog</a>.
</div>
